<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <div class="navbar-header">
        <img src="../../../assets/images/logo.jpg" alt="Logo" class="logo">
      </div>      
      <ul class="nav navbar-nav navbar-right">        
        <li class="nav-item"><a class="nav-link" href="#"><span class="fas fa-search"></span></a></li>
        <app-product-form></app-product-form>
        <li class="nav-item"><a class="nav-link" href="#"><span class="fas fa-user"></span></a></li>
      </ul>
    </div>
</nav>
