.modal-content
{
    width: 600px;
}
img
{
    max-height: 100px;
    border-radius: 50%;
}
.add-bottom
{
    margin-top: 15px;
}

p, label
{
    color: white;
}

.card
{
    background-color: black;
    border-radius: 0%;
}

.modal-header, .card-bottom{
    border-bottom: 10px solid #dee2e6;
}
.modal-bottom
{
    right: 0%;
}
.card-bottom
{
    height: 100px;
    border-top: 10px solid #dee2e6;
}
#btn
{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;
}