<button type="button" class="btn btn-success floating-buttom" data-toggle="modal" data-target="#OrderModal" (click)="loadProducts()">
    <span class="fas fa-plus"></span>
</button>
<div class="container">
    <div id="OrderModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <button type="button" class="modal-bottom" data-dismiss="modal"><span class="fas fa-times"></span></button>             
            <div class="card my-5">
                <div class="modal-header">              
                <h4 class="modal-title">Create new order</h4>
                </div>
                <div class="card-body" *ngFor="let product of products">
                    <div class="row">                                                   
                        <div class="col-md-4">
                            <img src="../../../assets/images/default.jpg" alt="image">
                        </div>  
                        <div class="col-md-4">
                            <p>{{product.name}}</p>                            
                            <p>price: {{product.price}}</p>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <label for="cantidad" class="col-md-6">Cantidad</label>
                                <input type="text" class="form-control col-md-4" name="cantidad" [(ngModel)]="product.qty">
                            </div>                            
                            <button class="btn btn-md btn-success add-bottom" (click)="addProduct(product)">Add</button>                            
                        </div>                                                                                                 
                    </div>              
                </div>   
                <div class="card card-bottom">
                    <button id="btn" class="btn btn-md btn-success col-md-4" (click)="createOrder()">Create</button>
                </div>                       
            </div>                           
          </div>
        </div>
    </div>
</div>
