<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-cola></app-cola>
    </div>
    <div class="col-md-3">
      <app-preparacion-list></app-preparacion-list>
    </div>
    <div class="col-md-3">
      <app-entregado-list></app-entregado-list>
    </div>
    <div class="col-md-3">
      <app-finalizado-list></app-finalizado-list>
    </div>
  </div>
  <app-create-order></app-create-order>
</div>
<router-outlet></router-outlet>