<li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#ProductModal"><span class="fas fa-tag"></span></a></li>
<div class="container">
  <div id="ProductModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">        
        <div class="modal-body"> 
          <button type="button" class="modal-bottom" data-dismiss="modal"><span class="fas fa-times"></span></button>             
          <div class="card my-5">
            <div class="modal-header">              
              <h4 class="modal-title">Create new product</h4>
            </div>
            <div class="card-body">
              <form (ngSubmit)="onSubmit()" #productForm="ngForm">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" [(ngModel)]="product.name" 
                    class="form-control" 
                    id="name" 
                    name="name" 
                    placeholder="Enter product name"
                    required #name="ngModel">
                </div> 
                <div class="form-group">
                  <label for="price">Price</label>
                  <input type="text" [(ngModel)]="product.price" 
                    class="form-control" 
                    id="price" 
                    name="price" 
                    placeholder="Enter product price"
                    required #price="ngModel">
                </div>
                <div class="form-group">
                  <label for="image">Image</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01"
                        aria-describedby="inputGroupFileAddon01" name="image" (change)="fileChangeEvent($event)">
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                  </div>                                
                </div>                                
                <button type="submit" [disabled]="!productForm.form.valid" 
                  class="btn btn-info">Submit</button>
              </form>
            </div>            
        </div>
        </div>     
      </div>
    </div>
  </div>
</div>