<div class="card bg-dark my-5">
  <h2>Cola</h2>
  <div class="card-body">
    <div class="card cola-list" *ngFor="let order of orders"> 
      <label><span class="fas fa-list"></span> {{order.id}}</label>
        <hr>
        <div class="row" *ngFor="let product of order.products">         
          <p>{{product.qty}}</p>  
          <p>{{product.name}}</p>        
        </div>                 
    </div>
  </div>
</div>      
