.card-body
{
    height: 600px;
}
h2
{
    text-align: center;
    color: white;
    margin-top: 10px;
}
.cola-list
{
    position: relative;
    color: white;
    padding: 15px;
    max-height: 110px;
    margin-bottom: 15px;
    background-color: grey;
}

.row
{
    text-align: center;
    font-size: 15px;
}