.navbar
{
    background-color: #242329;
}
.logo
{
    max-width: 80px;
    max-height: 80px;
}
li a{
    font-size: x-large;
    color: lightgreen;
}
.nav-item :hover
{
    color: green;
}

body
{
    background-color: black;
}

.card
{
    border-radius: 20px;
}
.floating-buttom
{
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    font-size: 30px;        
}
.modal-content
{
    background: transparent;
    border: 0px;
}
.modal-bottom
{
    position: absolute;
    background-color:grey;
    right: 10px;
    margin-top: 40px;
    z-index: 1;
    border-radius: 50%;
    color: white;
}    